html {
	font: 100 100%/1.5 'Helvetica Neue', sans-serif;
	background: linear-gradient(45deg, silver 25%, transparent 25%, transparent 75%, silver 75%),
	            linear-gradient(45deg, silver 25%, transparent 25%, transparent 75%, silver 75%) 20px 20px;
	background-color: #eee;
	background-size: 40px 40px;
	height: 100%;
}

body {
	margin: 0;
	height: 100%;
	font-size: 250%;
}

input {
	position: absolute;
	right: 0;
	left: 0;
	top: 50%;
	margin-top: -.7em;
	text-align: center;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
	border: none;
	outline: none;
	background: transparent;
	color: white;
	font-family: inherit;
	font-size: 300%;
	font-weight: bold;
	transition: .3s font-size;
}